h1 {
    color: var(--color-secondary);
}

.submitButton {
    background-color: var(--color-red);
    color: var(--color-white);
}

.submitButton div {
    display: flex;
}

.submitButton svg {
    padding-right: 5px;
}

.saveInfoButton {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.footerMsg {
    color: var(--color-dark-grey);
    font-size: 90%;
}