h1 {
    color: var(--color-secondary);
    text-align: center;
}

.text {
    color: var(--color-secondary);
    text-align: center;
}

.submitButton {
    background-color: var(--color-red);
    color: var(--color-white);
}

.locationCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapImage {
    height: 280px;
    width: 100%;
}