.childContainer {
    padding-top: 20px;
}

.textSecondary {
    color: var(--color-secondary);
}

.name {
    color: var(--color-secondary);
    font-size: 150%;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

.infoCard {
    display: flex;
    flex-direction: column;
}

.infoEditCard {
    display: flex;
    align-items: center;
}

.infoEditIcon {
    cursor: pointer;
}

.sosBtn {
    background-color: var(--color-red);
    color: var(--color-white);
    height: 125px;
    position: sticky;
    bottom: 0px;
    margin-bottom: 20px;
}

.sosBtn div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sosBtn span {
    font-size: 120%;
    text-align: center !important;
}

.textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.additionalInfoCard {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
