.ugtLogo {
    width: 70px;
    height: 70px;
}

.textB {
    font-size: 18px;
    line-height: 24px;
    color: var(--color-secondary-dark);
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary-dark);
}

.text > p {
    margin-bottom: 35px;
}

.noWrap {
    white-space: nowrap;
}

.button0 {
    margin-bottom: 50px;
}

.checkBoxContainer {
    display: flex;
}

.checkBoxText {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-grey);
    margin-bottom: 17px;
}

.tutorialImg {
    text-align: center;
}


