.ugtLogo {
    width: 70px;
    height: 70px;
}

.welcome {
    color: var(--color-secondary);
}

.welcome > h1 {
    font-size: 35px;
    font-weight: 700;
}

.welcome > p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.welcome > p > b {
    font-weight: 700;
}

.infoRow {
    display: flex;
    justify-content: space-around;
}

.noWrap {
    white-space: nowrap;
}
