.checkmark {
  border: 1px solid var(--color-dark-grey);
  background-color:  var(--color-light-grey);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  transition: all .3s ease-in-out;
  display: block;
}

.checked {
  border-color: var(--color-focus);
  background-color: var(--color-focus);
}

.img {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}
